nav{
    background-color: #FFC067;
    padding: 20px;
    display: flex;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
    
}

.linkmenija{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}