*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
h1,h2{
    font-family: 'Pacifico', sans-serif;
}
/* POCETAK CSSa za HERO SEKCIJU */
#hero{
    background: url(https://previews.123rf.com/images/dragoscondrea/dragoscondrea1707/dragoscondrea170701425/82233052-different-type-of-cheese-on-wooden-background-gourmet-food-apetizer.jpg) 
    no-repeat center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }
    .hero-content{
        background-color: rgb(255, 255, 255, 0.7);
        padding: 50px;
        width: 60%;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    }
    .hero-content h1{
        font-family: 'Pacifico', sans-serif;
        font-size: 2rem;
    }

    /* KRAJ CSSa za HERO SEKCIJU */
   
    /* POCETAK CSSa za VRSTE SIREVA SEKCIJU */

    .sirevi-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 20px;
    }
    .sirBox img{
        width: 200px;
        height: 200px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border: 2px solid gold;
        
    }

    .vrste-sireva-section{
        background-color: grey;
        max-width: 1000px;
        margin: 50px auto;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .vrste-sireva-section h2{
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
    }
    .sirBox h3{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        margin-top: 10px;
        color: black;
        text-shadow: #333 1px 1px 2px;
    }
    /* KRAJ CSSa za VRSTE SIREVA SEKCIJU */